{%extends 'base.html'%}
{%import 'partials/img.html' as img%}
{%import "_static.html" as static %}



{%block custom_meta%}
<meta content="texas,texas employment,texas jobs,dallas jobs,fort worth jobs,interactives,dallas,dallas fort worth,dallas news,dallas fort worth news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{latestReport.main_headline | cleantext}}. {{latestReport.main_deck | cleantext}}." name="description" />
<title>Texas Jobs Report: {{latestReport.month}} {{latestReport.year}}</title>
<meta property="og:url" content="http://apps.dallasnews.com/texas-jobs-report/reports/{{latestReport.year}}/{{latestReport.month}}" />
<meta property="og:title" content="Texas Jobs Report: {{latestReport.month}} {{latestReport.year}}"/>
<meta property="og:description" content="{{latestReport.main_headline | cleantext}}. {{latestReport.main_deck | cleantext}}." name="description"/>
<meta property="og:image" content="{{latestReport.image|safe}}"/>
<meta property="og:image:height" content="768"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="DMNBiz" />
<meta name="twitter:creator" content="@{{latestReport.twitter}}" />

<meta name="liveFyreID" content="{{latestReport.id}}238117323" />

<meta name='parsely-page' id='parsely-page' content='{"title": "Texas Jobs Report: {{latestReport.month}} {{latestReport.year}}", "link": "http://apps.dallasnews.com/texas-jobs-report/reports/{{latestReport.year}}/{{latestReport.month}}", "image_url": "{{latestReport.image|safe}}", "type": "post", "post_id": "511833301{{latestReport.id}}", "pub_date": "2016-03-04T12:00:00Z", "section": "business", "author": ["{{latestReport.byline}}"], "tags": ["texas","texas employment","texas jobs","dallas jobs","fort worth jobs","interactives","dallas","dallas fort worth","dallas news","dallas fort worth news","dfw news","dallas newspaper","dallas morning news","dallas morning news newspaper"]}'/>

<meta property="og:keywords" content="texas,texas employment,texas jobs,dallas jobs,fort worth jobs,interactives,dallas,dallas fort worth,dallas news,dallas fort worth news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper"/>

<meta name='news_keywords' content='texas,texas employment,texas jobs,dallas jobs,fort worth jobs,interactives,dallas,dallas fort worth,dallas news,dallas fort worth news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper'/>
{%endblock%}


{%block custom_head%}
{%endblock%}



{%block ad%}
<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = [];
if (jQuery(window).width() < 768)
{
var DFP_sitepage = "m.DMN/interactives";
DFPSlotSizes = [320,50]
var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
adSlot0.setTargeting("position", "x01");
adSlot0.addService(googletag.pubads());

/*
var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
adSlot1.setTargeting("position", "x02");
adSlot1.addService(googletag.pubads());
*/

/*
var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
adSlot2.setTargeting("position", "x03");
adSlot2.addService(googletag.pubads()); 
*/
}
else
{
var DFP_sitepage = "DMN/interactives";
 DFPSlotSizes = [728,90]
var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
adSlot0.setTargeting("position", "Top");
adSlot0.addService(googletag.pubads());

/*
var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
adSlot1.setTargeting("position", "Top");
adSlot1.addService(googletag.pubads());
*/

/*
var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
adSlot2.setTargeting("position", "Top");
adSlot2.addService(googletag.pubads());
*/
 }
</script>
<script type="text/javascript">
googletag.pubads().enableSingleRequest();
googletag.pubads().enableSyncRendering();
googletag.enableServices();
</script>
{%endblock%}


{%block content%}

<section class="contentWell clearFix">

	<div id="jobsReportContent" class="clearFix">


		<div class="leftWell">


			<header id="storyHead" class="clearFix">
				<div class="headerImage">
					<h3>Texas Monthly Jobs Report: {{latestReport.month}} {{latestReport.year}}</h3>

	


					{% if latestReport.image %}
						<div class="imageBlock">
							<img src="{{latestReport.image|safe}}" alt="{{latestReport.image_cutline | cleantext}}" />
							<p class="cutline">{{latestReport.image_cutline | cleantext}} ({{latestReport.image_credit}})</p>
						</div>
					{% endif %}

				</div>



				<h1>{{latestReport.main_headline | cleantext}}</h1>
				<h2>{{latestReport.main_deck | cleantext}}</h2>

			</header>

			<div class="bylineBlock">
				<p>By <a target="_blank" href="mailto:{{latestReport.email}}">{{latestReport.byline}}</a> | {{latestReport.title}} | {% if latestReport.twitter %}<a href="http://www.twitter.com/{{latestReport.twitter}}"><i class="fa fa-twitter"></i> @{{latestReport.twitter}}</a> {% endif %} </p>
			</div>

			<div class="shareComments shareCommentsTop">	
				<ul id="share-bar1" class="width-auto-hack"></ul>
			</div>        		
			<!-- end shareComments -->

			<p class="intro">{{latestReport.intro | cleantext}} </p>

			<section id="blurbs">

				<nav id="blurbNav" class="clearFix">
					<ul>
						<li class="activeBlurb">1</li>
						{% if latestReport.blurb2 %}<li>2</li> {% endif %}
						{% if latestReport.blurb3 %}<li>3</li> {% endif %}
						{% if latestReport.blurb4 %}<li>4</li> {% endif %}
					</ul>
					<span id="viewAll">View all</span>
				</nav>

				<div class="blurb">
					<h4><span class="number">1</span> {{latestReport.blurb1_head | cleantext}}</h4>
					<p>{{latestReport.blurb1 | cleantext}}</p>
				</div>

				{% if latestReport.blurb2 %}
				<div class="blurb hidden">
					<h4><span class="number">2</span> {{latestReport.blurb2_head |cleantext}}</h4>
					<p>{{latestReport.blurb2 | cleantext}}</p>
				</div>
				{% endif %}

				{% if latestReport.blurb3 %}
				<div class="blurb hidden">
					<h4><span class="number">3</span> {{latestReport.blurb3_head | cleantext}}</h4>
					<p>{{latestReport.blurb3 | cleantext}}</p>
				</div>
				{% endif %}

				{% if latestReport.blurb4 %}
				<div class="blurb hidden">
					<h4><span class="number">4</span> {{latestReport.blurb4_head | cleantext}}</h4>
					<p>{{latestReport.blurb4 | cleantext}}</p>
				</div>
				{% endif %}

			</section>
			<!-- end blurbs -->

		</div>
		<!-- end leftWell -->

		<div class="rightWell">

			<div id="selectOption" class="clearFix">
				<h6>Select a year and month to view jobs reports from previous periods:</h6>
				<select id="year">
					<option value="" disabled selected>Year</option>
				</select>
				<select id="month" class="hidden">
					<option value="" disabled selected>Month</option>
				</select>
				<a href="" class="viewReport hidden">View</a>
			</div>

			<div id="charts" class="clearFix">

				<h5>{{latestReport.jobless_head}}</h5>
				<p class="chatter">{{latestReport.jobless_chatter | cleantext}} <strong>Note:</strong> Latest month’s data is preliminary. (Touch the bars to see individual values)</p>

				<div class="block clearFix">

					<div id="chart1" class="chart">
						<h6>Texas</h6>
						<p class="chatter">(Seasonally adjusted)</p>
					</div>

					<div id="chart2" class="chart">
						<h6>Dallas-Fort Worth area</h6>
						<p class="chatter">(Not seasonally adjusted)</p>
					</div>

				</div>

				<div class="block clearFix">

					<div id="chart3" class="chart"> 
						<h6>Texas jobs</h6>
						<p class="chatter">{{latestReport.state_explainer | cleantext}} (Monthly job change)</p>
					</div>
					<div id="chart4" class="chart">
						<h6>Industry change</h6>
						<p class="chatter">{{latestReport.industry_chatter | cleantext}}</p>
						<table>
							<tr><th>Sector</th><th>Change</th></tr>
							<tr><td>{{latestReport.cat1}}</td><td>{{latestReport.cat1_amount}}</td></tr>
							{% if latestReport.cat2 %}<tr><td>{{latestReport.cat2}}</td><td>{{latestReport.cat2_amount}}</td></tr>{% endif %}
							{% if latestReport.cat3 %}<tr><td>{{latestReport.cat3}}</td><td>{{latestReport.cat3_amount}}</td></tr>{% endif %}
							{% if latestReport.cat4 %}<tr><td>{{latestReport.cat4}}</td><td>{{latestReport.cat4_amount}}</td></tr>{% endif %}
							{% if latestReport.cat5 %}<tr><td>{{latestReport.cat5}}</td><td>{{latestReport.cat5_amount}}</td></tr>{% endif %}
							{% if latestReport.cat6 %}<tr><td>{{latestReport.cat6}}</td><td>{{latestReport.cat6_amount}}</td></tr>{% endif %}
							{% if latestReport.cat7 %}<tr><td>{{latestReport.cat7}}</td><td>{{latestReport.cat7_amount}}</td></tr>{% endif %}
							{% if latestReport.cat8 %}<tr><td>{{latestReport.cat8}}</td><td>{{latestReport.cat8_amount}}</td></tr>{% endif %}
							{% if latestReport.cat9 %}<tr><td>{{latestReport.cat9}}</td><td>{{latestReport.cat9_amount}}</td></tr>{% endif %}
							{% if latestReport.cat10 %}<tr><td>{{latestReport.cat10}}</td><td>{{latestReport.cat10_amount}}</td></tr>{% endif %}
							{% if latestReport.cat11 %}<tr><td>{{latestReport.cat11}}</td><td>{{latestReport.cat11_amount}}</td></tr>{% endif %}
						</table>
					</div>
				</div>

				<p class="source">Sources: {{latestReport.chart_source}}, Staff Graphic</p>

			</div>
			<!-- end charts -->

		</div>
		<!-- end rightWell -->

	</div>
	<!-- end jobsReportContent -->

	</section>

	    <div id="dfpAdPositionTop" class="ad"> <!-- to remove bottom and top rules, add class "noRule" -->
	        <p class="adLabel">Advertisement</p>
	        <script type="text/javascript">googletag.display('dfpAdPositionTop');</script>
	    </div> 
	    <!-- end adBlock -->

	<section class="contentWell">

		<div class="shareComments">   		
		<ul id="share-bar2" class="width-auto-hack"></ul>
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->

</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript">
		 var jobsReport = [
		 	{% for period in targetPeriod %}
		 		{
		 			"period": "{{period.month}} {{period.year}}",
		 			"texas": {{period.texas_jobless_rate}},
		 			"dfw": {{period.dfw_jobless_rate}},
		 			"stateEmployment": {{period.state_employment}}
		 		}{% if not loop.last %},{% endif %}
		 	{% endfor %}
		 ]

		 var lastDate = new Date("{{lastReport.date}}");

	</script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
var storyTitle = "Texas Jobs Report: {{latestReport.month}} {{latestReport.year}}",
	storyURL = "http://apps.dallasnews.com/texas-jobs-report/reports/{{latestReport.year}}/{{latestReport.month}}",
	leadText = "{{latestReport.main_headline | cleantext}}. {{latestReport.main_deck | cleantext}}.",
	storyIMG = "{{latestReport.image|safe}}",
	storyAuthor = "{{latestReport.byline}}",
	twitterTag = "DMNBiz",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/business/';
</script>
{%endblock%}
